[alias]
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	bs = branch-select
	br = branch
	brd = branch -d
	brD = branch -D
	merged = branch --merged
	dmerged = "git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	st = status
	aa = add -A .
	cm = commit -m
	aacm = !git add -A . && git commit -m
	cp = cherry-pick
	amend = commit --amend -m
	last = 'log -1 HEAD'
	master = !git checkout master && git pull origin 
	po = push origin
	pom = push origin master
	poh = push origin HEAD
	plo = pull origin
	plom = pull origin master
	ploh = pull origin HEAD
	rb = !git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/
	rom = checkout origin/master --
	su = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	unstage = reset --soft HEAD^
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	f = !git ls-files | grep -i
	gr = grep -Ii
	la = !git config -l | grep alias | cut -c 7-

[push]
	default = simple
[branch]
	autosetupmerge = always
